GoFast/Temp/UnityLockfile
GoFast/.vs/GoFast/v15/Server/sqlite3/storage.ide-wal
GoFast/.vs/GoFast/v15/.suo
GoFast/.vs/GoFast/v15/Server/sqlite3/db.lock
GoFast/.vs/GoFast/v15/Server/sqlite3/storage.ide
GoFast/.vs/GoFast/v15/Server/sqlite3/storage.ide-shm
